.transport {
    display: flex;
    width: 65%;
    margin: auto;
    border: 1px solid blue;
    justify-content: space-evenly;   
}

.transport .item{
    border: 1px solid black;
    border-radius: 10px;
    padding: .5em;
}

.score {
    font-family:sans;
    font-size:1.2em;
    border: 2px solid blue;
    border-radius: 10x;
    height: 50%;
    width:400px;
    caret-color: rgb(0, 0, 255);
}
  
.line { 
    display:block;
}

.highlight {
    border: 1px solid #f00
}

.curbeat {
    border: 1px solid rgb(0, 0, 255);
    background-color: rgb(199, 199, 248);
    font-weight: bold;
}