[Unit]
Description=service to run the icanmusic system, starting with conductor.node.js
Documentation=https://github.com/donundeen/icanmusicprojects
After=network.target

[Service]
Type=simple
PIDFile=/var/run/icanmusic.pid
Restart=on-failure
RestartSec=4
ExecStart=/home/pi/icanmusicprojects/server/runicanmusic.sh

[Install]
WantedBy=multi-user.target